<a href="https://colab.research.google.com/github/FariaJ65/NAIVE-BAYES/blob/main/Titanic_Survival_Prediction_using_NAIVE_BAYES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
from google.colab import drive
drive.mount('/content/drive' ,force_remount=True)

Mounted at /content/drive

In [47]:
import numpy as np # linear algebra
import pandas as pd # data processing
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
# Preprocessing :
from sklearn.preprocessing import  StandardScaler, LabelEncoder, Normalizer 
#naive_bayes
from sklearn.naive_bayes import GaussianNB
#accruacy
from sklearn.metrics import confusion_matrix , ConfusionMatrixDisplay, classification_report,accuracy_score

In [48]:
# Read datasets
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/titanic.csv")
dataset.shape
#dataset.head()
print(dataset.shape)
print(dataset)

(891, 5)
     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [49]:
dataset.isnull().any()

Pclass      False
Sex         False
Age          True
Fare        False
Survived    False
dtype: bool

In [50]:
dataset['Age'] = dataset['Age'].fillna(dataset['Age'].mean())
print(dataset)

     Pclass     Sex        Age     Fare  Survived
0         3    male  22.000000   7.2500         0
1         1  female  38.000000  71.2833         1
2         3  female  26.000000   7.9250         1
3         1  female  35.000000  53.1000         1
4         3    male  35.000000   8.0500         0
..      ...     ...        ...      ...       ...
886       2    male  27.000000  13.0000         0
887       1  female  19.000000  30.0000         1
888       3  female  29.699118  23.4500         0
889       1    male  26.000000  30.0000         1
890       3    male  32.000000   7.7500         0

[891 rows x 5 columns]

In [51]:
dataset['Sex'].unique()

array(['male', 'female'], dtype=object)

In [52]:
dataset['Sex'] = dataset['Sex'].replace('male', '1')
dataset['Sex'].unique()

array(['1', 'female'], dtype=object)

In [53]:
dataset['Sex'] = dataset['Sex'].replace('female', '2')
dataset['Sex'].unique()

array(['1', '2'], dtype=object)

In [54]:
print(dataset)

     Pclass Sex        Age     Fare  Survived
0         3   1  22.000000   7.2500         0
1         1   2  38.000000  71.2833         1
2         3   2  26.000000   7.9250         1
3         1   2  35.000000  53.1000         1
4         3   1  35.000000   8.0500         0
..      ...  ..        ...      ...       ...
886       2   1  27.000000  13.0000         0
887       1   2  19.000000  30.0000         1
888       3   2  29.699118  23.4500         0
889       1   1  26.000000  30.0000         1
890       3   1  32.000000   7.7500         0

[891 rows x 5 columns]

In [55]:
X=dataset.iloc[:,:-1].values
X

array([[3, '1', 22.0, 7.25],
       [1, '2', 38.0, 71.2833],
       [3, '2', 26.0, 7.925],
       ...,
       [3, '2', 29.69911764705882, 23.45],
       [1, '1', 26.0, 30.0],
       [3, '1', 32.0, 7.75]], dtype=object)

In [56]:
Y=dataset.iloc[:,-1].values
Y

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [57]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25)

In [58]:
# instantiate the model
gnb = GaussianNB()
gnb.fit(X_train, Y_train)
pred = gnb.predict(X_test)

print("Accruacy of the model:{0}%".format(accuracy_score(Y_test,pred)*100))
print("\n")
print(classification_report(Y_test, pred))

Accruacy of the model:80.71748878923766%


              precision    recall  f1-score   support

           0       0.86      0.83      0.84       140
           1       0.73      0.77      0.75        83

    accuracy                           0.81       223
   macro avg       0.79      0.80      0.80       223
weighted avg       0.81      0.81      0.81       223

In [59]:
pclassNo=int(input("Enter person's pClass number:"))
gender=int(input("Enter person's Gender 1-Male,2-Female (1 or 2):"))
age=int(input("Enter  persons's age:"))
fare=int(input("Enter  persons's Fare:"))


person=[[pclassNo,gender,age,fare]]
result = gnb.predict(person)
print(result)
if result == 1:
  print("Person might be Survived")
else:
  print("Person might not be Survived")

Enter person's pClass number:2
Enter person's Gender 1-Male,2-Female (1 or 2):2
Enter  persons's age:23
Enter  persons's Fare:17
[1]
Person might be Survived